.App{
  text-align: center;
  padding: 5%;
}
.App p{
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
  
}
.para{
  margin-bottom: 10px;
 
}
h1{
  font-weight:bolder;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
